<section class="hero">
    <div class="hero-content">
        <div class="text-content">
            <h2>Revolutionizing Electric Mobility</h2>
            <p>Join us in creating a sustainable future with innovative EV solutions.</p>
            <button (click)="scrollToFeatures()">Explore Our Solutions</button>
        </div>
        <div class="image-content">
            <img src="https://media.istockphoto.com/id/1477067152/photo/electric-car-power-charging.webp?a=1&b=1&s=612x612&w=0&k=20&c=Qb6NoEivbPGyf-YnRAEa6tfsZDWDwx6MSu0UCym3e9c=" alt="Man with EV Car">
        </div>
    </div> 
  </section>
  